@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat&family=Noto+Sans&display=swap');

*{
  color: #161616;
}
h1 , h2 , h3 {
  color: #161616;
};
body{
  margin-top: 5rem;
};
p, button, Link {
    color: #161616;
    font-family: 'Noto Sans, sans-serif';
}
.arrows{
  color: aliceblue !important ;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

.gridForCards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.gridForCards:nth-child(even) .colForCard:last-child{
  order: -1;
}