@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'DM Serif Text, serif';
};
p, h1, h2, h3, h4, h5, h6, Link{
    color: #161616;
};

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }