@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
    color: #161616;
    font-family: 'DM Serif Text, serif';
};
p, button, Link {
    color: #161616;
    font-family: 'Noto Sans, sans-serif';
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }